#!/usr/local/env bash

export CLUSTER_USERNAME="<username>"
export CLUSTER_PASSWORD="<password>"

oc login -u ${CLUSTER_USERNAME} -p ${CLUSTER_PASSWORD} https://api.rosa-s6xdr.0fo8.p1.openshiftapps.com:6443
